/* 
Copyright 2011, Sound Transit

This program is free software: you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License
as published by the Free Software Foundation, either version 3 of
the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Temp classes for mockups */
body.map {
background: url(../img/otp/fpo_map.jpg) 0 0 no-repeat;
padding: 160px 0 300px 85px;
}

body.tripplanner {
background: url(../img/otp/fpo_tripplanner.jpg) 0 0 no-repeat;
padding: 160px 0 300px 85px;
}

body.schedule,
body.home {
background: url(../img/otp/fpo_home.jpg) 0 0 no-repeat;
padding: 130px 0 300px 105px;
}

#tripplanner-wrap {
width: 966px;
height: 563px;
}

#map-controls {
width: 966px;
}

.demolinks {
position: absolute;
top: 70px;
left: 90px;
width: 960px;
height: 50px;
}

.demolinks .home {
position: absolute;
top: 0px;
left: 0px;
width: 40px;
height: 50px;
text-indent: -9999px;
}

.demolinks .map {
position: absolute;
top: 0px;
left: 160px;
width: 105px;
height: 50px;
text-indent: -9999px;
}

.demolinks .schedule {
position: absolute;
top: 0px;
left: 45px;
width: 105px;
height: 50px;
text-indent: -9999px;
}

.demolinks .tripplanner {
position: absolute;
top: 0px;
left: 608px;
width: 105px;
height: 50px;
text-indent: -9999px;
}