/* 
Copyright 2011, Sound Transit

This program is free software: you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License
as published by the Free Software Foundation, either version 3 of
the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* - */

body {
font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
font-size: 12px;
}

a:link, 
a:visited {
color: #5380ae;
}

/* jquery ui overrides */
body .ui-autocomplete-input {
padding: 4px;
height: 14px;
}

body .ui-button-icon-only .ui-button-text {
padding: 2px 2px 2px;
}

body button.ui-button-icon-only {
width: 20px;
height: 24px;
}

body .ui-datepicker-trigger {
position: relative;
left: -20px;
top: 0;
vertical-align: middle;
}

body .ui-spinner-buttons,
body .ui-button {
margin-left: -1px;
}

body .ui-icon-triangle-1-s {
background-position: -65px -16px;
}

body .ui-widget .ui-widget,
body input.ui-widget, 
body .ui-widget input, 
body .ui-widget select, 
body .ui-widget textarea, 
body .ui-widget button {
background-image: url(../images/tripplanner/form-field-bg.png);
background-repeat: repeat-x;
color: #656565;
font-family: inherit;
font-size: 12px;
-moz-border-radius: 0; 
-webkit-border-radius: 0; 
border-radius: 0; 
vertical-align: middle;
}

body .ui-selectmenu {
vertical-align: middle;
}

body .ui-selectmenu-menu li a, 
body .ui-selectmenu-status {
padding: 4px;
}

body .ui-selectmenu-icon {
right: 0;
}

body .ui-selectmenu-menu li a {
color: #222;
}

body #trippriority-button,
body #trippriority-menu { /* since the select begins hidden, width is miscalculated as zero */
width: 150px !important;
}

body #maxwalk-button,
body #maxwalk-menu { /* since the select begins hidden, width is miscalculated as zero */
width: 150px !important;
}

/* - */

#map-controls {
color: #4a4a4a;
position: relative;
padding-bottom: 5px;
background: transparent url(../images/tripplanner/map-controls-shadow.png) 0 bottom repeat-x scroll;
z-index: 5;
}

#map-controls-wrap {
background: #f4f4f3;
padding: 4px 4px 0 4px;
text-align: right;
}

#base-layers {
position: absolute;
left: 399px;
top: 8px;
}

.fullsize #base-layers {
position: absolute;
left: 5px;
top: 7px;
}

#base-layers a {
position: relative;
}

#base-layers a.active {
text-decoration: none;
color: #4a4a4a;
font-weight: bold;
}

#toggle-layers a {
text-align: left;
width: 26px;
min-height: 28px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
*display: inline; /*IE 6 & 7*/
overflow: hidden;
text-indent: -9999em;
background-position: 0 0;
background-repeat: no-repeat;
position: relative;
}

#toggle-layers a.active {
background-position: 0 -28px;
}

#toggle-layers a#toggle-fares {
background-image: url(../images/tripplanner/fares-modal-icon.png);
}

#toggle-layers a#toggle-parking {
background-image: url(../images/tripplanner/parking-modal-icon.png);
}

#toggle-layers a#toggle-location {
background-image: url(../images/tripplanner/location-modal-icon.png);
}

#toggle-layers a#toggle-bus {
background-image: url(../images/tripplanner/bus-modal-icon.png);
}

#toggle-layers a#toggle-sounder {
background-image: url(../images/tripplanner/sounder-modal-icon.png);
}

#toggle-layers a#toggle-link {
background-image: url(../images/tripplanner/link-modal-icon.png);
}

#toggle-layers a#toggle-ferry {
background-image: url(../images/tripplanner/ferry-modal-icon.png);
}

/* - */

.olControlPanPanel .olControlPanNorthItemInactive {
background-image: url(../js/openlayers/img/north-mini.png);
width: 28px;
height: 11px;
background-position: 0 0 !important;
left: 14px !important;
}

.olControlPanPanel .olControlPanEastItemInactive {
background-image: url(../js/openlayers/img/east-mini.png);
width: 24px;
height: 24px;
background-position: 0 0 !important;
top: 11px !important;
left: 28px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive {
background-image: url(../js/openlayers/img/south-mini.png);
width: 28px;
height: 11px;
background-position: 0 0 !important;
top: 35px !important;
left: 14px !important;
}

.olControlPanPanel .olControlPanWestItemInactive {
background-image: url(../js/openlayers/img/west-mini.png);
width: 24px;
height: 24px;
background-position: 0 0 !important;
top: 11px !important;
left: 4px !important;
}

/* - */

#tripplanner-wrap {
background: #fff;
position: relative;
top: -5px;
z-index: 4;
border-bottom: 1px solid #dfdfdf;
}

#plannerform {
width: 355px;
padding: 15px;
padding-right: 20px;
padding-left: 20px;

}

#plannerpanel {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 355px;
padding: 15px;
padding-right: 20px;
padding-left: 20px;
overflow: auto;
overflow-x: hidden;
}

.form-meta {
float: right;
}

.form-meta a {
color: #9c9c9c;
text-decoration: none;
margin-left: 10px;
}
.form-meta a:hover {
color: #666;
}

#plannerform h2,
#plannerpanel h2 {
color: #2b376e;
font-size: 1.5em;
}

#tofrom-area {
position: relative;
}

.tripflag {
vertical-align: middle;
margin: 0 3px 0 0;
}

#from, 
#to {
font-size:1.25em;
width: 275px;
position: relative;
left: 30px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
height: 19px;
padding: 4px;
}

#from.ambiguous, 
#to.ambiguous {
border-color: #c1444c;
}

#from.blank, 
#to.blank {
background: none;
}

#from.blank:focus, 
#to.blank:focus,
#from.focus, 
#to.focus {
background-image: url(../images/tripplanner/form-field-bg.png);
background-repeat: repeat-x;
}

#tofromtoggle {
display: block;
position: absolute;
left: 320px;
top: 50%;
margin-top: -10px;
width: 20px;
height: 21px;
background: url(../images/tripplanner/toggle.png);
overflow: hidden;
text-indent: -9999em;
}

#tofrom-area label {
display: block;
margin: 10px 40px -38px 0;
font-weight: normal;
white-space:nowrap;
overflow:hidden;
}

#tofrom-area label strong {
margin-left: 5px;
}

#tofrom-area input.ambiguous {
color: #b71f24;
border-color: #b71f24;
}

#leavetype-wrap,
#leaveday-wrap,
#leaveampm-wrap {
font-size: 12px;
}

#leavetype-button,
#leaveampm-button {
margin: 0.5em 0;
}

#leavetype-wrap .ui-autocomplete-input {
width: 5em;
}

#leaveday,
#leavehour,
#leaveminute {
display: inline-block;
height: 2.2em;
overflow: hidden;
position: relative;
text-decoration: none;
padding: 0;
line-height: 2.2em;
position: relative;
}

#leaveday {
width: 6.5em;
padding-right: 7px;
padding-left: 4px;
}

#leavehour {
text-align: center;
width: 15px;
margin-left: -5px;
margin-right: 2px;
padding-right: 5px;
padding-left: 5px;
*top: 1px;
}

#leaveminute {
width: 33px;
margin-left: 2px;
padding-right: 5px;
padding-left: 5px;
*top: 1px;
}

#leaveampm-wrap .ui-autocomplete-input {
width: 22px;
}

#moreoptions {
padding: 5px 0 0;
display: none;
}

#trippriority-wrap .ui-autocomplete-input,
#maxwalk-wrap .ui-autocomplete-input {
width: 10em;
}

#mode-area,
#accessible-area {
margin-top: 5px;
color: #656565;
font-weight: normal;
}

#mode-area span,
#accessible-area span {
margin-top: 5px;
font-size: 0.95em;
display: inline-block;
width: 90px;
height: 26px;
vertical-align: middle;
}

#mode-area label,
#accessible-area label {
margin-left: 10px;
}

#mode-area label input,
#accessible-area label input {
background-image: none;
vertical-align: middle;
}

#mode-area label span,
#accessible-area label span {
margin-top: 0px;
margin-left: 5px;
vertical-align: middle;
display: inline-block;
text-indent: -9999px;
width: 26px;
height: 26px;
}

#mode-area label span#bus_label {
background: url(../images/tripplanner/bus-modal-icon.png) top center no-repeat;
}

#mode-area label span#sounder_label {
background: url(../images/tripplanner/sounder-modal-icon.png) top center no-repeat;
}

#mode-area label span#link_label {
background: url(../images/tripplanner/link-modal-icon.png) top center no-repeat;
}

#accessible-area label span#wheelchair_accessible_label {
background: url(../images/tripplanner/wheelchair-icon.png) top center no-repeat;
}


#trip-submit {
background: url(../images/tripplanner/trip-submit.png) right center no-repeat scroll;
color: #fff;
font-weight: bold;
font-size: 1.16em;
cursor: pointer;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 0 none transparent;
padding: 4px 49px 4px 28px;
*padding: 4px 25px 4px 14px; /* keep IE7 from doubling horz padding */
margin: 5px 0 0;
}
/* remove dotted outline in FireFox */
#trip-submit::-moz-focus-inner, 
#trip-submit::-moz-focus-inner {
border: 0 none transparent;
}
/* remove dotted outline in IE8 */
#trip-submit:focus, 
#trip-submit:active, 
#trip-submit:hover { 
outline: none; 
border: 0 none transparent; 
}

a#optionstoggle {
color: #9c9c9c;
text-decoration: none;
font-size: .8em;
margin: 0 0 0 10px;
position: relative;
/* *top: -0.5em;  align with #trip-submit in IE7 */
}
a#optionstoggle:hover {
color: #666;
}
a#optionstoggle span {
padding: 0 8px;
background-image: url(./jquery/ui-custom/images/ui-icons_888888_256x240.png);
background-position: -64px -16px;
}
a#optionstoggle:hover span {
background-image: url(./jquery/ui-custom/images/ui-icons_222222_256x240.png);
}

a#optionstoggle.active span {
background-position: 0 -16px;
}

/* - */

#how-to-plan {
margin-top: 15px;
border-top:1px solid #656565;
width: 345px;
height: 240px;
background-image: url(../images/tripplanner/getting_started.png);
background-position: 0 0;
background-repeat: no-repeat;
}

#trip-data {
width: 345px;
}

/* - */

#loading {
position: absolute;
z-index: 100000000000;
left: 0px;
right: 0px;
margin-left: 40%;
margin-right: 40%;
top: 40%;
background-color: #FFFFFF;
padding: 10px;
border: 1px solid #656565;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
width: 20%;
display: none;
}

#loading p {
background: url(../images/tripplanner/spinner.gif) 50% 15px no-repeat;
color: #656565;
font-size: 1.5em;
padding-top: 40px;
text-align: center;
}

#trip-spinner {
border-top:1px solid #656565;
margin-top: 15px;
padding: 10px 0 15px 0px;
font-size: 1.5em;
color: #656565;
}

/* - */

#no-results {
border-top:1px solid #656565;
margin-top: 15px;
padding: 15px 0 0 0;
color: #656565;
}

#no-results h3 {
font-weight: bold;
font-size: 1.5em;
}

#no-results div,
#no-results ul,
#no-results p {
margin-bottom: 1em;
}

#no-results ul {
list-style: square inside none;
text-indent: -14px;
margin-left: 12px;
}

#no-results ul li {
padding-left: 5px;
}

#no-results img {
vertical-align: middle;
}

/* - */

#disambiguate-results {
border-top:1px solid #656565;
margin-top: 15px;
padding: 15px 0 0 0;
color: #656565;
}

#disambiguate-results h3 {
font-weight: bold;
}

#disambiguate-results h4 {
font-weight: bold;
font-size: 1.5em;
padding: 4px 0 8px 28px;
}

#disambiguate-results #from-possibles h4 {
background: url(../images/tripplanner/a-flag.png) 0 50% no-repeat;
}

#disambiguate-results #to-possibles h4 {
background: url(../images/tripplanner/b-flag.png) 0 50% no-repeat;
}

#disambiguate-results ol {
list-style-type: none;
}

#disambiguate-results ol li {
background-position: 0 50%;
background-repeat: no-repeat;
float: left;
height: 38px;
width: 100%;
margin-bottom: 10px;
cursor: pointer;
}

#disambiguate-results ol li .nice-name {
font-size: 1.1em;
line-height: 1.1em;
float: left;
margin: 10px 0 10px 38px;
width: 265px;
}

#disambiguate-results ol li a {
font-size: 1.1em;
line-height: 1.1em;
float: right;
margin: 10px 0;
}

#pager span {
font-weight: bold;
font-size: 1.25em;
}

#pager ol {
margin-top: 5px;    
}

#pager ol li {
width: auto;
height: auto;
float: left;
padding: 4px;
margin: 0px;
margin-right: 10px;
border: 1px solid #666;
}

#pager ol li.active {
background-color: #EFEFEF;
}

#pager ol li a {
margin: 0px;
padding: 0px;
width: auto;
}

/* ASSUMPTION: no more than 9 ambiguous results at once */
#disambiguate-results ol li.possible-1 {
background-image: url(../images/tripplanner/pin-1.png);
}

* html #disambiguate-results ol li.possible-1 {
background-image: url(../images/tripplanner/pin-1-ie.png);
}

#disambiguate-results ol li.possible-2 {
background-image: url(../images/tripplanner/pin-2.png);
}

* html #disambiguate-results ol li.possible-2 {
background-image: url(../images/tripplanner/pin-2-ie.png);
}

#disambiguate-results ol li.possible-3 {
background-image: url(../images/tripplanner/pin-3.png);
}

* html #disambiguate-results ol li.possible-3 {
background-image: url(../images/tripplanner/pin-3-ie.png);
}

#disambiguate-results ol li.possible-4 {
background-image: url(../images/tripplanner/pin-4.png);
}

* html #disambiguate-results ol li.possible-4 {
background-image: url(../images/tripplanner/pin-4-ie.png);
}

#disambiguate-results ol li.possible-5 {
background-image: url(../images/tripplanner/pin-5.png);
}

* html #disambiguate-results ol li.possible-5 {
background-image: url(../images/tripplanner/pin-5-ie.png);
}

#disambiguate-results ol li.possible-6 {
background-image: url(../images/tripplanner/pin-6.png);
}

* html #disambiguate-results ol li.possible-6 {
background-image: url(../images/tripplanner/pin-6-ie.png);
}

#disambiguate-results ol li.possible-7 {
background-image: url(../images/tripplanner/pin-7.png);
}

* html #disambiguate-results ol li.possible-7 {
background-image: url(../images/tripplanner/pin-7-ie.png);
}

#disambiguate-results ol li.possible-8 {
background-image: url(../images/tripplanner/pin-8.png);
}

* html #disambiguate-results ol li.possible-8 {
background-image: url(../images/tripplanner/pin-8-ie.png);
}

#disambiguate-results ol li.possible-9 {
background-image: url(../images/tripplanner/pin-9.png);
}

* html #disambiguate-results ol li.possible-9 {
background-image: url(../images/tripplanner/pin-9-ie.png);
}

/* - */
#trip-data h2 {
margin-top: 15px;
border-top: 1px solid #656565;
color: #4D4D4D;
font-size: 1.5em;
}

#tripresult-summaries {
border-bottom: 1px solid #656565;
font-size: .9em;
color: #333;
width: 335px;
border-collapse: collapse;
line-height: 1.3;
}

#tripresult-summaries tbody tr td,
#tripresult-summaries tr td.trip-modes img {
-webkit-transition:color 0.2s ease-in;  
-moz-transition:color 0.2s ease-in;  
-o-transition:color 0.2s ease-in;  
transition:color 0.2s ease-in;
}

#tripresult-summaries tbody tr {
cursor: pointer;
}

#tripresult-summaries tbody tr.active {
cursor: auto;
}

#tripresult-summaries tbody tr:hover td {
color: #000;
}

#tripresult-summaries tbody tr.active td {
color: #000;
background: #ebebeb;
}

#tripresult-summaries th {
padding: 5px 5px 5px 3px;
}

#tripresult-summaries td.trip-id {
font-size: 1.66em;
text-align: center;
vertical-align: middle;
}

#tripresult-summaries td {
font-weight: bold;
padding: 4px 3px;
vertical-align: top;
border-top: 1px solid #cbcccb;
}

#tripresult-summaries td em {
font-weight: normal;
font-style: none;
display: block;
}


#tripresult-summaries td.trip-modes strong {
vertical-align: top;
}

#tripresult-summaries td.trip-modes em {
vertical-align: top;
color: #797979;
display: inline;
font-weight: bold;
}

/*#tripresult-summaries td.trip-modes img {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}

#tripresult-summaries tr:hover td.trip-modes img {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
}

#tripresult-summaries tbody tr.active td.trip-modes img {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1.0;
-khtml-opacity: 1.0;
opacity: 1.0;
}*/

.results {
display: none;
}

.results.active {
display:block;
}

.trip-prices {
width: 335px;
font-size: .90em;
border-bottom: 1px solid #cbcccb;
margin-bottom: 15px;
}

.trip-prices tbody tr:first-child th:first-child {
border-top: 5px solid #656565;
}

.trip-prices tbody tr:first-child td {
border-top: 1px solid #cbcccb;
}

.trip-prices th h3 {
color: #4d4d4d;
font-size: 1.66em;
}

.trip-prices tbody th {
font-weight: bold;
padding: 0 3px;
}

.trip-prices tbody th,
.trip-prices tbody td {
white-space: nowrap;
}

.trip-prices tbody td {
padding: 0 8px;
}

.trip-prices tbody tr td:last-child {
width: 50%;
}

p.alertIcon {
height: 16px;
width: 16px;
text-indent: -9999px;
display: inline-block;
background-repeat: no-repeat;
margin-left: 10px;
}

p.alertIcon.yellow {
background-image: url(../images/tripplanner/alert-yellow.jpg);
}

p.alertIcon.red {
background-image: url(../images/tripplanner/alert-red.jpg);
}

p.alertIcon.green {
background-image: url(../images/tripplanner/alert-green.jpg);
}

ul.trip-stepbystep {
}

ul.trip-stepbystep li {
list-style-type: none;
margin-bottom: 4px;
padding: 0 0 4px 24px;
position: relative;
background-position: 7px 0;
background-repeat: repeat-y;
}

ul.trip-stepbystep li img.mode-icon {
position: absolute;
left: 0;
top: 3px;
}

ul.trip-stepbystep li.walk {
background-image: url(../images/tripplanner/walk-step-bg.png);
}

ul.trip-stepbystep li.sounder {
background-image: url(../images/tripplanner/sounder-step-bg.png);
}

ul.trip-stepbystep li.link {
background-image: url(../images/tripplanner/link-step-bg.png);
}

ul.trip-stepbystep li.bus {
background-image: url(../images/tripplanner/bus-step-bg.png);
}

ul.trip-stepbystep li.last-child {
background-image: none;
}

ul.trip-stepbystep li:last-child {
background-image: none;
}

.stepmeta {
color: #656565;
}

table.substeps td {
vertical-align: top;
padding-right: 30px;	
}

p.alert {
padding: 5px;
font-weight: bold;
line-height: 100%;
}

p.alert.yellow,
p.alert.red,
p.alert.green {
padding-left: 22px;
background-position: left center;
background-repeat: no-repeat;
}

p.alert.yellow {
background-image: url(../images/tripplanner/alert-yellow.jpg);
}

p.alert.red {
background-image: url(../images/tripplanner/alert-red.jpg);
}

p.alert.green {
background-image: url(../images/tripplanner/alert-green.jpg);
}

/* - */

#disambiguation {
border-top:1px solid #656565;
margin-top: 15px;
padding-top: 15px;
}

#disambiguation h3 {
padding: 0 0 0 30px;
color: #656565;
margin: 0 0 10px;
}

#disambiguation h3 em {
display: block;
font-size: 1.5em;
color: #b71f24;
font-style: italic;
}

#disambiguation.from h3 {
background: url(../images/tripplanner/a-flag.png) 0 50% no-repeat;
}

#disambiguation.to h3 {
background: url(../images/tripplanner/b-flag.png) 0 50% no-repeat;
}

#disambiguation ol li {
list-style-type: none;
min-height: 21px;
vertical-align: middle;
font-size: 1.25em;
padding: 8px 30px 8px 38px;
margin-bottom: 5px;
background-position: 0 50%;
background-repeat: no-repeat;
cursor: pointer;
}

#disambiguation ol li em {
float: right;
font-size: 1em;
color: #9c9c9c;
text-decoration: underline;
}

#disambiguation ol li.option-1 {
background-image: url(../images/tripplanner/pin-1.png);
}

* html #disambiguation ol li.option-1 {
background-image: url(../images/tripplanner/pin-1-ie.png);
}

#disambiguation ol li.option-2 {
background-image: url(../images/tripplanner/pin-2.png);
}

* html #disambiguation ol li.option-2 {
background-image: url(../images/tripplanner/pin-2-ie.png);
}

#disambiguation ol li.option-3 {
background-image: url(../images/tripplanner/pin-3.png);
}

* html #disambiguation ol li.option-3 {
background-image: url(../images/tripplanner/pin-3-ie.png);
}

#disambiguation ol li.option-4 {
background-image: url(../images/tripplanner/pin-4.png);
}

* html #disambiguation ol li.option-4 {
background-image: url(../images/tripplanner/pin-4-ie.png);
}

#disambiguation ol li.option-5 {
background-image: url(../images/tripplanner/pin-5.png);
}

* html #disambiguation ol li.option-5 {
background-image: url(../images/tripplanner/pin-5-ie.png);
}

#disambiguation ol li.option-6 {
background-image: url(../images/tripplanner/pin-6.png);
}

* html #disambiguation ol li.option-6 {
background-image: url(../images/tripplanner/pin-6-ie.png);
}

#disambiguation ol li.option-7 {
background-image: url(../images/tripplanner/pin-7.png);
}

* html #disambiguation ol li.option-7 {
background-image: url(../images/tripplanner/pin-7-ie.png);
}

#disambiguation ol li.option-8 {
background-image: url(../images/tripplanner/pin-8.png);
}

* html #disambiguation ol li.option-8 {
background-image: url(../images/tripplanner/pin-8-ie.png);
}

#disambiguation ol li.option-9 {
background-image: url(../images/tripplanner/pin-9.png);
}

* html #disambiguation ol li.option-9 {
background-image: url(../images/tripplanner/pin-9-ie.png);
}

/* - */

#map {
position: absolute;
top: 0;
right: 0;
width: 571px;
height: 563px;
}

.fullsize #map {
width: 100%;
}

#toggle-map-width {
position: absolute;
left: 0;
top: 265px;
background-image: url(../images/tripplanner/toggle-map-width.png);
background-position: top right;
width: 18px;
height: 32px;
z-index: 10000000;
zoom:1;
}
#toggle-map-width.fullsize {
background-position: bottom left;
}

#map #atis-credits {
position: absolute;
bottom: 0;
right: 0;
color: #333;
padding: 5px;
font-size: 0.75em;
z-index: 10000000;
}

#map #legend {
z-index: 10000001;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

#map #legend .toggler {
background: #fff;
border: 1px solid #c0c0c0;
border-width: 1px 1px 0;
position: absolute;
top: -20px;
right: 150px;
width: 3.5em;
height: 16px;
padding: 2px 20px 2px 5px;
cursor: pointer;
}

body #map #legend .toggler .ui-selectmenu-icon {
position: absolute;
right: 0;
background-image: url("./jquery/ui-custom/images/ui-icons_454545_256x240.png");
}

#map #legend .toggler:hover .ui-selectmenu-icon,
#map #legend .toggler.expanded  .ui-selectmenu-icon {
background-image: url("./jquery/ui-custom/images/ui-icons_222222_256x240.png");
}

#map #legend .content {
display: none;
clear: both;
background: #fff;
border-top: 1px solid #c0c0c0;
padding: 10px;
}

/* context menu */

.context-menu {
z-index: 10000000;
position: absolute;
}

.context-menu .ui-menu-item a {
font-size: .80em;
color: #656565;
}

.context-menu .ui-menu-item.separator {
padding-bottom: 5px;
margin-bottom: 5px;
border-bottom: 1px solid #c0c0c0;    
}

/* - */
.olMapViewport .olControlAttribution {
left: 5px;
bottom: 5px;
}

.olBingAttribution {
font-size: .85em;
color: #666666;
}

/* - */

.layer-popout {
top: 32px;
position: absolute;
background-image: url(../images/tripplanner/bubble-top-callout.png);
background-position: 50% 0;
padding-top: 11px;
background-repeat: no-repeat;
}

.layer-popout .content {
background-color: #fff;
border: 1px solid #bababa;
border-top: none;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
}

.layer-chooser {
display: none;
position: relative;
}

.layer-chooser .close {
position: absolute;
top: 5px;
right: 5px;
text-indent: -9999px;
background-image: url(../images/tripplanner/close.png);
background-repeat: no-repeat;
background-position: 0 0;
height: 19px;
width: 19px;
}

.layer-chooser .header {
margin-top: 5px;
margin-right: 20px;
margin-bottom: 5px;
padding-left: 30px;
height: 26px;
background-repeat: no-repeat;
background-position: 0 0;
}

.layer-chooser.WSF .header {
background-image: url(../images/tripplanner/ferry-modal-icon.png);
}

.layer-chooser.link .header {
background-image: url(../images/tripplanner/link-modal-icon.png);
}

.layer-chooser.sounder .header {
background-image: url(../images/tripplanner/sounder-modal-icon.png);
}

.layer-chooser.bus .header {
background-image: url(../images/tripplanner/bus-modal-icon.png);
}

.layer-chooser .header p {
padding-top: 4px;
padding-left: 4px;
white-space: nowrap;
}

.layer-chooser form label {
display: block;
padding-bottom: 2px;
padding-top: 2px;
}

.layer-chooser form label .small {
font-weight: normal;
display: block;
font-size: 75%;
line-height: 75%;
padding-left: 25px;
}

#bus-layer-chooser {
width: 325px;
}

/* - */

.info-window {
position: absolute;
background-image: url(../images/tripplanner/bubble-bottom-callout.png);
background-position: 50% 100%;
padding-bottom: 11px;
background-repeat: no-repeat;
z-index: 10000000;
color: #4a4a4a;    
}

.info-window .info-header {
font-weight: bold;
white-space: nowrap;
padding-right: 20px;
min-width: 225px;
background: #f4f4f3;
padding: 2px;
padding-left: 5px;
padding-right: 25px;
border: 1px solid #bababa;
border-bottom: none;
position: relative;
}

.info-window .info-content {
background-color: #fff;
border: 1px solid #bababa;
border-bottom: none;
position: relative;
padding: 5px;
}

.info-window .info-content.leg-info-marker {
width: 325px;
}

.info-window .info-content.parkandride,
.info-window .info-content.fareoutlet {
min-width: 250px;
}

.info-window .info-content .crossbar {
background-position: 0 50%;
background-repeat: no-repeat;
padding: 5px 0 5px 30px;
min-height: 20px;
vertical-align: middle;
}

.info-window .info-content.stop .crossbar {
background-image: url(../images/tripplanner/location-icon.png);
}

.info-window .info-content.fareoutlet .crossbar {
background-image: url(../images/tripplanner/fares-icon.png);
}

.info-window .info-content.parkandride .crossbar {
background-image: url(../images/tripplanner/parking-icon.png);
}

.info-window .info-content .close,
.info-window .content .close {
position: absolute;
top: 2px;
right: 2px;
text-indent: -9999px;
background-image: url(../images/tripplanner/close.png);
background-repeat: no-repeat;
background-position: 0 0;
height: 19px;
width: 19px;
}

.info-window ul {
list-style-position: inside;
}

.info-window .start-end-area {
padding: 5px 0 0;
font-size: 90%;
text-align: right;
}

.info-window .start-end-area a {
padding: 0 0 0 5px;
}

/* - */

.too_many {
position: absolute;
z-index: 10000000;
background-color: #efefef;
color: #666;
border: 1px solid #c0c0c0;
top: 50px;
left: 100px;
font-size: 1.33em;
width: 400px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.too_many p {
padding: 10px;
}

.too_many .close {
position: absolute;
top: 2px;
right: 2px;
text-indent: -9999px;
background-image: url(../images/tripplanner/close.png);
background-repeat: no-repeat;
background-position: 0 0;
height: 19px;
width: 19px;
}

/* - */

.aerialSelector {
width: 100px;
}

.aerialSelector input {
margin-right: 5px;
display: inline;
}

/* - */

.info_marker {
position: absolute;
background-image: url(../images/tripplanner/bubble-bottom-callout.png);
background-position: 50% 100%;
padding-bottom: 11px;
background-repeat: no-repeat;
z-index: 10000000;
color: #4a4a4a;
}

.info_marker .content {
background-color: #fff;
border: 1px solid #bababa;
border-bottom: none;
position: relative;
padding: 2px;
height: 16px;
cursor:pointer;
}

.info_marker .content.has-schedule-link {
height: 26px;
}

.info_marker .content .route-label {
font-weight: bold;
padding-left: 20px;
line-height: 100%;
padding-top: 2px;
}

.info_marker .content .route-label a {
font-size: .66em;
display: block;
}

.info_marker .content .route-label span {
font-size: .66em;
white-space:nowrap;
display: block;
line-height: 100%;
}

.info_marker .content .leg-mode {
position: absolute;
left: 2px;
top: 2px;
height: 16px;
width: 16px;
background-position: 0 0;
text-indent: -9999px;
float: left;
}

.info_marker .content .leg-mode.ferry {
background-image: url(../images/tripplanner/ferry16x16.png);
}

.info_marker .content .leg-mode.link {
background-image: url(../images/tripplanner/link16x16.png);
}

.info_marker .content .leg-mode.sounder {
background-image: url(../images/tripplanner/sounder16x16.png);
}

.info_marker .content .leg-mode.bus {
background-image: url(../images/tripplanner/bus16x16.png);
}

/* - */
#help-content {
display: none;
}

#fancybox-content .section {
padding-bottom: 20px;
padding-right: 20px;
}

#fancybox-content .section h1 {
font-size: 1.5em;
color: #656565;
padding-bottom: 10px;
}

#fancybox-content .section ul {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
}

#fancybox-content .section ul li {
list-style: square inside none;
padding-bottom: 5px;
margin-left: 10px;
text-indent: -14px;
}

#fancybox-content .section ul li img {
padding-left: 2px;
padding-right: 2px;
vertical-align: middle;
}

#fancybox-content .section ul li span#icon_help_resize {
display: inline-block;
background-image: url(../images/tripplanner/toggle-map-width.png);
background-position: 0 0;
background-repeat: no-repeat;
height: 32px;
width: 19px;
text-indent: -9999px;
}
