<?xml version="1.0" encoding="ISO-8859-1"?>
<StyledLayerDescriptor version="1.0.0" 
    xsi:schemaLocation="http://www.opengis.net/sld StyledLayerDescriptor.xsd" 
    xmlns="http://www.opengis.net/sld" 
    xmlns:ogc="http://www.opengis.net/ogc" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <NamedLayer>
    <Name>stop</Name>
    <UserStyle>
      <FeatureTypeStyle>      

        <!-- The Link -->
        <Rule>
            <ogc:Filter>
                <ogc:PropertyIsEqualTo>
                    <ogc:PropertyName>Operator</ogc:PropertyName>
                    <ogc:Literal>LLR</ogc:Literal>
                </ogc:PropertyIsEqualTo>
            </ogc:Filter>
            <MinScaleDenominator>0</MinScaleDenominator>
            <MaxScaleDenominator>1500000</MaxScaleDenominator>
            <LineSymbolizer>
                <Stroke>
                	<CssParameter name="stroke">#41B1C1</CssParameter>
                	<CssParameter name="stroke-width">1</CssParameter>
                </Stroke>
            </LineSymbolizer>
        </Rule>

        <!-- Sounder -->
        <Rule>
            <ogc:Filter>
                <ogc:PropertyIsEqualTo>
            	    <ogc:PropertyName>Operator</ogc:PropertyName>
            	    <ogc:Literal>SDR</ogc:Literal>
                </ogc:PropertyIsEqualTo>
            </ogc:Filter>
            <MinScaleDenominator>0</MinScaleDenominator>
            <MaxScaleDenominator>1500000</MaxScaleDenominator>
            <LineSymbolizer>
                <Stroke>
                	<CssParameter name="stroke">#0B9140</CssParameter>
                	<CssParameter name="stroke-width">1</CssParameter>
                </Stroke>
            </LineSymbolizer>
        </Rule>

        <!-- Ferry-->
        <Rule>
            <ogc:Filter>
                <ogc:PropertyIsEqualTo>
            	    <ogc:PropertyName>Operator</ogc:PropertyName>
            	    <ogc:Literal>WSF</ogc:Literal>
                </ogc:PropertyIsEqualTo>
            </ogc:Filter>
            <MinScaleDenominator>0</MinScaleDenominator>
            <MaxScaleDenominator>1500000</MaxScaleDenominator>
            <LineSymbolizer>
                <Stroke>
                	<CssParameter name="stroke">#5E5E5E</CssParameter>
                	<CssParameter name="stroke-width">1</CssParameter>
                </Stroke>
            </LineSymbolizer>
        </Rule>        

        <!-- Bus-->
        <Rule>
            <ogc:Filter>
                <ogc:Or>                
                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>ET</ogc:Literal>
                    </ogc:PropertyIsEqualTo>

                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>ST</ogc:Literal>
                    </ogc:PropertyIsEqualTo>

                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>MT</ogc:Literal>
                    </ogc:PropertyIsEqualTo>

                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>MR</ogc:Literal>
                    </ogc:PropertyIsEqualTo>
                
                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>CT</ogc:Literal>
                    </ogc:PropertyIsEqualTo>
                
                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>PT</ogc:Literal>
                    </ogc:PropertyIsEqualTo>
                
                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>IT</ogc:Literal>
                    </ogc:PropertyIsEqualTo>

                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>MTW</ogc:Literal>
                    </ogc:PropertyIsEqualTo>

                    <ogc:PropertyIsEqualTo>
                	    <ogc:PropertyName>Operator</ogc:PropertyName>
                	    <ogc:Literal>SLU</ogc:Literal>
                    </ogc:PropertyIsEqualTo>
                </ogc:Or>
            </ogc:Filter>
            <MinScaleDenominator>0</MinScaleDenominator>
            <MaxScaleDenominator>1500000</MaxScaleDenominator>
            <LineSymbolizer>
                <Stroke>
                	<CssParameter name="stroke">#5380B0</CssParameter>
                	<CssParameter name="stroke-width">1</CssParameter>
                </Stroke>
            </LineSymbolizer>
        </Rule>

      </FeatureTypeStyle>
    </UserStyle>
  </NamedLayer>
</StyledLayerDescriptor>
